[package]
name = "reduct-base"
version = "0.1.0"
authors = ["Alexey Timin <atimin@reduct.store>"]
edition = "2021"
rust-version = "1.61.0"
license = "MPL-2.0"
description = "Base crate for ReductStore SDKs"
repository = "https://github.com/reductstore/reduc-rs"
readme = "README.md"
keywords = ["database", "time-series", "blob", "storage", "reductstore", "client", "sdk", "rust"]
categories = ["database"]


[lib]
crate-type = ["lib"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[dev-dependencies]
rstest="0.18"
