name: Build, Test and Release
on:
  push:
    branches: [ main, stable ]
    tags:
      - "v*"
    paths-ignore:
      - docs/**
      - README.md
      - CHANGELOG.md

  pull_request:
    paths-ignore:
      - docs/**
      - README.md
      - CHANGELOG.md

permissions:
  id-token: write
  contents: read


env:
  REGISTRY_IMAGE: reduct/store
  AWS_LC_SYS_USE_PREBUILT: 0

jobs:
  rust_fmt:
    runs-on: ubuntu-latest
    name: Rust Linter
    steps:
      - uses: actions/checkout@v4
      - name: Check code
        run: cargo fmt --all -- --check

  build_binaries:
    name: Build Binaries
    runs-on: ${{ matrix.os }}
    needs:
      - rust_fmt
    strategy:
      matrix:
        target:
              [
                "x86_64-unknown-linux-gnu",
                "aarch64-unknown-linux-gnu",
                "armv7-unknown-linux-gnueabihf",
                "x86_64-pc-windows-gnu",
                "x86_64-apple-darwin",
                "aarch64-apple-darwin",
              ]
        include:
          - target: "x86_64-unknown-linux-gnu"
            os: ubuntu-22.04
            compiler: "gcc"
          - target: "aarch64-unknown-linux-gnu"
            os: ubuntu-22.04
            compiler: "gcc-aarch64-linux-gnu"
          - target: "armv7-unknown-linux-gnueabihf"
            os: ubuntu-22.04
            compiler: "gcc-arm-linux-gnueabihf"
          - target: "x86_64-pc-windows-gnu"
            os: ubuntu-22.04
            compiler: "gcc-mingw-w64-x86-64"
          - target: "x86_64-apple-darwin"
            os: macos-14
            compiler: ""
          - target: "aarch64-apple-darwin"
            os: macos-14
            compiler: ""
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-binaries
        with:
          minimal_rust_version: ${{ vars.MINIMAL_RUST_VERSION }}
          action_github_token: ${{ secrets.ACTION_GITHUB_TOKEN }}
          target: ${{ matrix.target }}
          os: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}
          access-key-id: ${{ secrets.S3_CACHE_ACCESS_KEY }}
          secret-access-key: ${{ secrets.S3_CACHE_SECRET_KEY }}

  unit_tests:
    name: Run Unit Tests
    needs:
      - rust_fmt
      - build_binaries
    strategy:
      matrix:
        os: [ ubuntu-24.04, windows-2022, macos-14 ]
        include:
          - os: ubuntu-24.04
            target: x86_64-unknown-linux-gnu
          - os: windows-2022
            target: x86_64-pc-windows-gnu
          - os: macos-14
            target: aarch64-apple-darwin
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    env:
      RUST_BACKTRACE: 1
      RUST_LOG: debug
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/unit-tests
        with:
          os: ${{ matrix.os }}
          target: ${{ matrix.target }}

  coverage:
    name: Generate Code Coverage
    needs:
      - rust_fmt
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-24.04 ]
        target: [ x86_64-unknown-linux-gnu ]
    timeout-minutes: 30
    env:
      CARGO_TERM_COLOR: always
      RUST_LOG: debug
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/coverage
        with:
          os: ${{ matrix.os }}
          target: ${{ matrix.target }}
          action_github_token: ${{ secrets.ACTION_GITHUB_TOKEN }}

      - name: Upload coverage to Codecov
        continue-on-error: true
        uses: codecov/codecov-action@v4
        with:
          files: lcov.info
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}


  build_test_docker_image:
    name: Build Docker image
    runs-on: ubuntu-22.04
    needs:
      - rust_fmt
      - build_binaries
    steps:
      - uses: actions/checkout@v6.0.2

      - uses: ./.github/actions/build-docker
        with:
          platform: linux/amd64
          target: x86_64-unknown-linux-gnu
          image_artifact_name: image-linux-amd64
          image_tag: reductstore-entrpise:linux-amd64

      - name: Upload default image artifact (amd64)
        uses: actions/upload-artifact@v4
        with:
          name: image
          path: /tmp/image.tar

  api_tests:
    name: API Tests
    runs-on: ubuntu-latest
    needs:
      - unit_tests
      - build_test_docker_image
    strategy:
      matrix:
        token: [ "", "XXXX" ]
        cert_path: [ "", "/misc/certificate.crt" ]
        license_path: [ "", "/misc/license.lic" ]
        backend: [ "fs", "s3" ]
        include:
          - cert_path: "/misc/certificate.crt"
            url: https://127.0.0.1:8383
          - cert_path: ""
            url: http://127.0.0.1:8383
    timeout-minutes: 5
    env:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET: test
    steps:
      - uses: actions/checkout@v4

      - name: Login Docker
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_TOKEN }}

      - name: Create license
        run: echo '${{secrets.LICENSE_KEY}}' > ./misc/license.lic

      - uses: ./.github/actions/api-tests
        with:
          token: ${{ matrix.token }}
          cert_path: ${{ matrix.cert_path }}
          license_path: ${{ matrix.license_path }}
          backend: ${{ matrix.backend }}
          url: ${{ matrix.url }}
          minio_access_key: ${{ env.MINIO_ACCESS_KEY }}
          minio_secret_key: ${{ env.MINIO_SECRET_KEY }}
          minio_bucket: ${{ env.MINIO_BUCKET }}
          minio_endpoint: ${{ env.MINIO_ENDPOINT }}

  migration_test:
    name: Migration Tests
    runs-on: ubuntu-latest
    needs:
      - unit_tests
      - build_test_docker_image
    strategy:
      matrix:
        version:
          [
            "latest",
            "v1.16.3",
            "v1.15.6",
            "v1.14.8",
            "v1.13.5",
            "v1.12.4",
            "v1.11.2",
            "v1.10.1",
            "v1.9.5",
            "v1.8.2",
            "v1.7.3",
          ]
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/migration-test
        with:
          version: ${{ matrix.version }}
          rs_api_token: XXXX
          docker_user: ${{ secrets.DOCKER_USER }}
          docker_token: ${{ secrets.DOCKER_TOKEN }}
          repository: ${{ github.repository }}

  recovery_test:
    name: Recovery Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cmd: [ "stop", "kill" ]
    needs:
      - unit_tests
      - build_test_docker_image

    env:
      rs_api_token: XXXX
      minio_access_key: minioadmin
      minio_secret_key: minioadmin
      minio_bucket: test
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/recovery-test
        with:
          cmd: ${{ matrix.cmd }}
          rs_api_token: ${{ env.rs_api_token }}
          repository: ${{ github.repository }}

  replication_test:
    name: Replication Tests
    runs-on: ubuntu-latest
    needs:
      - build_test_docker_image
      - unit_tests
    strategy:
      matrix:
        include:
          - max_blob_size: 0.01
            entries: 4
            records: 1536
          - max_blob_size: 1
            entries: 4
            records: 1536
          - max_blob_size: 18
            entries: 2
            records: 128
    env:
      RS_API_TOKEN: XXXX
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/replication-test
        with:
          max_blob_size: ${{ matrix.max_blob_size }}
          entries: ${{ matrix.entries }}
          records: ${{ matrix.records }}
          rs_api_token: ${{ env.RS_API_TOKEN }}
          repository: ${{ github.repository }}

  read_only_replica_test:
    name: Read-Only Replica Tests
    runs-on: ubuntu-latest
    needs:
      - build_test_docker_image
      - unit_tests
    timeout-minutes: 10
    env:
      RS_API_TOKEN: XXXX
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET: test
    steps:
      - uses: actions/checkout@v4
      - name: Create license
        run: echo '${{secrets.LICENSE_KEY}}' > ./misc/license.lic
      - uses: ./.github/actions/read-only-replica-test
        with:
          rs_api_token: ${{ env.RS_API_TOKEN }}
          repository: ${{ github.repository }}
          minio_endpoint: ${{ env.MINIO_ENDPOINT }}

  primary_secondary_test:
    name: Primary-Secondary Tests
    runs-on: ubuntu-latest
    needs:
      - build_test_docker_image
      - unit_tests
    timeout-minutes: 10
    env:
      RS_API_TOKEN: XXXX
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET: test
    steps:
      - uses: actions/checkout@v4
      - name: Create license
        run: echo '${{secrets.LICENSE_KEY}}' > ./misc/license.lic
      - uses: ./.github/actions/primary-secondary-test
        with:
          rs_api_token: ${{ env.RS_API_TOKEN }}
          repository: ${{ github.repository }}

  check_tag:
    runs-on: ubuntu-latest
    name: Check tag
    steps:
      - uses: actions/checkout@v4
      - name: Check tag
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          cargo install cargo-get
          for PKG_NAME in reduct_base reduct_macros reductstore; do
            version=$(cargo get package.version --entry $PKG_NAME)
            echo "Version in $PKG_NAME/Cargo.toml: $version"
            if [ "v${version}" != "${GITHUB_REF_NAME}" ]; then
              echo "Tag ${GITHUB_REF_NAME} does not match version in $PKG_NAME/Cargo.toml"
              exit 1
            fi
          done

  make_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs:
      - api_tests
      - migration_test
      - replication_test
      - read_only_replica_test
      - primary_secondary_test
      - check_tag # Only publish on tags
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    name: Make release
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: softprops/action-gh-release@v2
        id: create_release
        with:
          draft: true
          prerelease: false
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          body: Copy changes from CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ github.token }}

  upload_release:
    runs-on: ubuntu-latest
    needs:
      - make_release
    permissions:
      contents: write
    name: Upload artifacts
    if: startsWith(github.ref, 'refs/tags/')
    strategy:
      matrix:
        target: [
          "x86_64-unknown-linux-gnu",
          "aarch64-unknown-linux-gnu",
          "x86_64-pc-windows-gnu",
          "x86_64-apple-darwin",
          "aarch64-apple-darwin",
          "armv7-unknown-linux-gnueabihf"
        ]
    steps:
      - uses: actions/checkout@v4
      - name: Download ${{ matrix.target }} artifact
        uses: actions/download-artifact@v4
        with:
          name: reductstore-${{ matrix.target }}
          path: /tmp/
      - name: Archive binary for UNIX
        if: ${{ matrix.target != 'x86_64-pc-windows-gnu' }}
        run: |
          cd /tmp
          tar -czvf reductstore.${{ matrix.target }}.tar.gz reductstore

      - name: Archive binary for Windows
        if: ${{ matrix.target == 'x86_64-pc-windows-gnu' }}
        run: |
          cd /tmp
          zip -o reductstore.${{ matrix.target }}.zip reductstore.exe


      - name: Upload Linux Unix artifact
        if: ${{ matrix.target != 'x86_64-pc-windows-gnu' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ needs.make_release.outputs.upload_url }}
          asset_path: /tmp/reductstore.${{ matrix.target }}.tar.gz
          asset_name: reductstore.${{ matrix.target }}.tar.gz
          asset_content_type: application/gzip

      - name: Upload Windows artifact
        if: ${{ matrix.target == 'x86_64-pc-windows-gnu' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ needs.make_release.outputs.upload_url }}
          asset_path: /tmp/reductstore.${{ matrix.target }}.zip
          asset_name: reductstore.${{ matrix.target }}.zip
          asset_content_type: application/zip

  benchmark:
    name: Run benchmarks
    runs-on: ubuntu-latest
    needs:
      - build_test_docker_image
      - unit_tests
    timeout-minutes: 5
    if: github.ref == 'refs/heads/main'
    env:
      rs_api_token: token
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/benchmarks
        with:
          branch: "latest"
          rs_api_token: ${{ env.rs_api_token }}
          repository: ${{ github.repository }}

  push_image_dockerhub:
    runs-on: ubuntu-latest
    name: Build image and push it to DockerHub Registry
    needs: [ check_tag, api_tests, migration_test, replication_test, read_only_replica_test ]
    if: github.event_name != 'pull_request'
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            cargo_target: x86_64-unknown-linux-gnu
            gcc_compiler: gcc-11
            digest: linux-amd64
          - platform: linux/arm64
            cargo_target: aarch64-unknown-linux-gnu
            gcc_compiler: gcc-aarch64-linux-gnu
            digest: linux-arm64
          - platform: linux/arm/v7
            cargo_target: armv7-unknown-linux-gnueabihf
            gcc_compiler: gcc-arm-linux-gnueabihf
            digest: linux-armv7

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Take build commit
        run: |
          echo "GITHUB_SHA=$(git rev-parse --short "$GITHUB_SHA")" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY_IMAGE }}

      - name: Build and push Docker image to GitHub repo
        uses: docker/build-push-action@v4
        id: build
        with:
          context: .
          file: buildx.Dockerfile
          labels: ${{ steps.meta.outputs.labels }}
          platforms: ${{ matrix.platform }}
          build-args: |
            GIT_COMMIT=${{env.GITHUB_SHA}}
            CARGO_TARGET=${{matrix.cargo_target}}
            GCC_COMPILER=${{matrix.gcc_compiler}}
            ARTIFACT_SAS_URL=${{ secrets.ARTIFACT_SAS_URL }}
            RUST_VERSION=${{ vars.MINIMAL_RUST_VERSION }}

          outputs: type=image,name=${{ env.REGISTRY_IMAGE }},push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"
      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ matrix.digest }}
          path: /tmp/digests/
          if-no-files-found: error
          retention-days: 1

  merge_digests:
    name: Merge digests and create manifest list
    runs-on: ubuntu-latest
    needs:
      - push_image_dockerhub
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          pattern: digests-*
          path: /tmp/digests

      - name: Merge digests
        run: |
          mkdir -p /tmp/merged_digests
          find /tmp/digests -type f -print0 | xargs -0 mv -t /tmp/merged_digests
          ls /tmp/merged_digests

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY_IMAGE }}
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Create manifest list and push
        working-directory: /tmp/merged_digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)
      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }}

  push_image_ecr_public:
    name: Push to ECR Public
    runs-on: ubuntu-latest
    needs:
      - merge_digests
    steps:
      - name: Show OIDC subject
        uses: actions/github-script@v7
        with:
          script: |
            const token = await core.getIDToken('sts.amazonaws.com');
            const claims = JSON.parse(Buffer.from(token.split('.')[1], 'base64').toString());
            console.log('aud:', claims.aud);
            console.log('sub:', claims.sub);
            console.log('ref:', process.env.GITHUB_REF);
            console.log('event name:', process.env.GITHUB_EVENT_NAME);

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: "us-east-1"

      - name: Login to ECR Public
        run: |
          aws ecr-public get-login-password --region "us-east-1" \
            | docker login --username AWS --password-stdin public.ecr.aws

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY_IMAGE }}

      - name: Tag and push to ECR Public
        run: |
          docker pull ${{ env.REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }}
          docker tag ${{ env.REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }} ${{ secrets.ECR_PUBLIC_REPOSITORY }}:${{ steps.meta.outputs.version }}
          docker push ${{ secrets.ECR_PUBLIC_REPOSITORY }}:${{ steps.meta.outputs.version }}


  snap_release:
    name: Build and Publish Snap Package
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [ amd64, arm64 ]
    needs: [ check_tag, api_tests, migration_test, replication_test ]
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/snap-release
        with:
          arch: ${{ matrix.arch }}
          snapcraft_store_login: ${{ secrets.SNAPCRAFT_STORE_LOGIN }}
          release: ${{ startsWith(github.ref, 'refs/tags/') && 'stable' || 'edge'}}

      - name: Publish snap package
        uses: snapcore/action-publish@master
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_LOGIN }}
        with:
          snap: ${{ env.SNAP_NAME }}
          release: ${{ startsWith(github.ref, 'refs/tags/') && 'stable' || 'edge'}}
