name: ci
on:
  push:
    branches: [ main, stable ]
    tags:
      - 'v*'
    paths-ignore:
      - docs/**
      - README.md
      - CHANGELOG.md

  pull_request:
    branches: [ main, stable ]
    paths-ignore:
      - docs/**
      - README.md
      - CHANGELOG.md
jobs:
  cpplint:
    runs-on: ubuntu-latest
    name: C++ Linter
    steps:
      - uses: actions/checkout@v3
      - name: Install cpplint
        run: pip install cpplint
      - name: Check code in /src
        run: find src/ -name "*.cc" -o -name "*.h"  | xargs cpplint
      - name: Check code in /unit_tests
        run: find unit_tests/ -name "*.cc" -o -name "*.h"  | xargs cpplint
      - name: Check code in /benchmarks
        run: find benchmarks/ -name "*.cc" -o -name "*.h"  | xargs cpplint

  build:
    name: Build Linux Docker image
    runs-on: ubuntu-latest
    needs:
      - cpplint
    strategy:
      matrix:
        build_type: [ "Release" ]
        arch: [ "amd64" , "arm64"]
        include:
          - arch: "amd64"
            with_test: ON
          - arch: "arm64"
            with_test: OFF
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and export
        uses: docker/build-push-action@v2
        with:
          context: .
          tags: full_static_image:latest
          outputs: type=docker,dest=/tmp/image_${{matrix.arch}}_${{ matrix.build_type }}.tar
          build-args:
            - BUILD_TYPE=${{ matrix.build_type }}
            - WITH_TEST=${{ matrix.with_test }}
          platforms: linux/${{ matrix.arch }}
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: image
          path: /tmp/image_${{ matrix.arch }}_${{ matrix.build_type }}.tar

  build_macos:
    name: Build for MacOS-12
    runs-on: macos-12
    needs:
      - cpplint
    steps:
      - uses: actions/checkout@v3
      - name: Select Xcode 13.4
        run: sudo xcode-select --switch /Applications/Xcode_13.4.app
      - name: Install conan dependencies and build
        run: |
          pip3 install -U pip
          pipx install conan==1.58
          brew install gcc@11
          mkdir build && cd build
          CC=gcc-11 CXX=g++-11 cmake -DCMAKE_BUILD_TYPE=Release -DREDUCT_BUILD_TEST=ON -DREDUCT_BUILD_BENCHMARKS=ON  ..
          cmake --build . -- -j
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: macos_binary
          path: build/bin/

  build_windows:
    name: Build for Windows
    runs-on: windows-2019
    needs:
      - cpplint
    steps:
      - uses: actions/checkout@v3
      - name: Update windows SDK
        uses: fbactions/setup-winsdk@v1
        with:
          winsdk-build-version: 19041
      - name: Install conan dependencies and build
        run: |
          pip3 install -U pip
          pip3 install conan==1.58
          mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DREDUCT_BUILD_TEST=ON -DREDUCT_BUILD_BENCHMARKS=ON -DCMAKE_SYSTEM_VERSION="10.0.19041.0"  ..
          cmake --build . -j --config Release
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: windows_binary
          path: build/bin/

  unit_tests:
    name: Unit Tests On Linux
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build_type: [ "Release" ]

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: image
          path: /tmp/
      - name: Load image
        run: |
          docker load --input /tmp/image_amd64_${{ matrix.build_type }}.tar
          docker image ls -a
      - name: Run tests
        run: docker run full_static_image:latest reduct-tests

  unit_tests_macos:
    name: Unit Tests On MacOs
    needs: build_macos
    runs-on: macos-12
    steps:
      - name: Download Macos artifact
        uses: actions/download-artifact@v2
        with:
          name: macos_binary
          path: /tmp/
      - name: Make executable
        run: chmod +x /tmp/reduct-tests
      - name: Run tests
        run: /tmp/reduct-tests

  unit_tests_windows:
    name: Unit Tests On Windows
    needs: build_windows
    runs-on: windows-2019
    steps:
      - name: Download Windows artifact
        uses: actions/download-artifact@v2
        with:
          name: windows_binary
          path: ./bin
      - name: Run tests
        run: ./bin/reduct-tests

  api_tests:
    name: API Tests
    runs-on: ubuntu-latest
    needs: unit_tests
    strategy:
      matrix:
        build_type: [ "Release" ]
        token: [ "", "XXXX" ]
        cert_path: [ "", "/misc/certificate.crt" ]
        include:
          - cert_path: "/misc/certificate.crt"
            url: https://127.0.0.1:8383
          - cert_path: ""
            url: http://127.0.0.1:8383
    steps:
      - uses: actions/checkout@v3
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: image
          path: /tmp/
      - name: Load image
        run: |
          docker load --input /tmp/image_amd64_${{matrix.build_type}}.tar
          docker image ls -a
      - name: Run Storage
        run: docker run --network=host -v ${PWD}/misc:/misc --env RS_API_TOKEN=${{matrix.token}} --env RS_CERT_PATH=${{matrix.cert_path}} --env RS_CERT_KEY_PATH=/misc/privateKey.key -d full_static_image:latest
      - name: Build API tests
        run: docker build -t api_tests ./api_tests
      - name: Run API tests
        run: docker run --network=host --env API_TOKEN=${{matrix.token}} --env STORAGE_URL=${{matrix.url}} api_tests

  build_snap:
    runs-on: ubuntu-latest
    name: Build snap package
    needs:
      - api_tests
    steps:
      - uses: actions/checkout@v3
      - uses: snapcore/action-build@v1
        id: build-snap
        with:
          snapcraft-args: '--enable-experimental-extensions'

      # Make sure the snap is installable
      - run: |
          sudo snap install --dangerous ${{ steps.build-snap.outputs.snap }}
      # Do some testing with the snap
      - run: |
          snap services reductstore
      - uses: actions/upload-artifact@v3
        with:
          name: reductstore
          path: "*.snap"

  publish_snap:
    name: Publish snap package
    #if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
    if: ${{ false }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [ amd64, arm64 ]
    needs:
      - build_snap
      - unit_tests_macos
      - unit_tests_windows
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: reductstore
          path: .
      - name: Save snap name in environment variable
        run: |
          echo "SNAP_NAME=$(ls *.snap | cut  -f1 | grep ${{matrix.arch}})" >> $GITHUB_ENV
      - uses: snapcore/action-publish@v1
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_LOGIN }}
        with:
          snap: ${{env.SNAP_NAME}}
          release: ${{ startsWith(github.ref, 'refs/tags/') && 'stable' || 'edge'}}

  push_image_dockerhub:
    runs-on: ubuntu-latest
    name: Push to DockerHub Registry

    strategy:
      matrix:
        build_type: [ "GitHub", "DockerHub" ]
        arch: [ "amd64", "arm64" ]
        include:
          - build_type: "GitHub"
            registry: ghcr.io
            images: ghcr.io/${{github.repository}}
          - build_type: "DockerHub"
            registry: docker.io
            images: reduct/store
    needs:
      - api_tests
      - unit_tests_macos
      - unit_tests_windows
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to DockerHub
        if: matrix.build_type == 'DockerHub'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Log in to GitHub Container Registry
        if: matrix.build_type == 'GitHub'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ matrix.images }}

      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: image
          path: /tmp/
      - name: Load image
        run: |
          docker load --input /tmp/image_${{ matrix.arch }}_Release.tar

      - name: Build and push Docker image to GitHub repo
        uses: docker/build-push-action@v4
        with:
          context: .
          file: deploy.Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/${{matrix.arch}}

  make_release:
    runs-on: ubuntu-latest
    needs:
      - api_tests
      - unit_tests_macos
      - unit_tests_windows
    name: Make release
    if: ${{ startsWith(github.event.ref, 'refs/tags/v') }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/create-release@v1
        id: create_release
        with:
          draft: true
          prerelease: false
          release_name: Release ${{ steps.version.outputs.version }}
          tag_name: ${{ github.ref }}
          body: Copy changes from CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ github.token }}

  upload_linux_artifact:
    runs-on: ubuntu-latest
    needs:
      - make_release
    strategy:
      matrix:
        arch: [ "amd64", "arm64" ]
    steps:
      - name: Download Linux artifact
        uses: actions/download-artifact@v2
        with:
          name: image
          path: /tmp/
      - name: Load Linux image and get binary
        run: |
          docker load --input /tmp/image_${{matrix.arch}}_Release.tar
          docker image ls -a
          id=$(docker create ${{github.repository}})
          docker cp $id:/usr/local/bin/reductstore reductstore
          tar -czvf reductstore.linux-${{ matrix.arch }}.tar.gz reductstore
      - name: Upload Linux artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: reductstore.linux-${{ matrix.arch }}.tar.gz
          asset_name: reductstore.linux-${{ matrix.arch }}.tar.gz
          asset_content_type: application/gzip

  upload_macos_artifact:
    runs-on: ubuntu-latest
    needs:
      - make_release
    steps:
      - name: Download Macos artifact
        uses: actions/download-artifact@v2
        with:
          name: macos_binary
          path: /tmp/
      - name: Archive MacOs binary
        run: |
          cd /tmp
          tar -czvf reductstore.macos-amd64.tar.gz  reductstore
      - name: Upload MacOs artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: /tmp/reductstore.macos-amd64.tar.gz
          asset_name: reductstore.macos-amd64.tar.gz
          asset_content_type: application/gzip

  upload_windows_artifact:
    runs-on: ubuntu-latest
    needs:
      - make_release
    steps:
      - name: Download Windows artifact
        uses: actions/download-artifact@v2
        with:
          name: windows_binary
          path: /tmp/
      - name: Archive Windows binary
        run: |
          cd /tmp
          zip -o reductstore.win-amd64.zip  reductstore.exe
      - name: Upload Windows artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: /tmp/reductstore.win-amd64.zip
          asset_name: reductstore.win-amd64.zip
          asset_content_type: application/zip
